html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.btn-red{
  color:black;
  background-color: red;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.btn-red:hover{
  color:white;
  background-color:blueviolet ;

}
.btn-blue{
  color:black;
  background-color: blue;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.btn-blue:hover{
  color:white;
  background-color:blueviolet ;

}
